.recipe {
    height: 480px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 4px rgba(0,0,0, 0.2);
}
.recipe-body {
    overflow-y: scroll;
}
.recipe-title {
    font-family: sans-serif;
    font-weight: bold !important;
}
.recipe-subtitle {
    padding: 5px 0;
}
.recipe-ingredients {
    padding-left: 20px;
}